---
export interface Props {
	title: string;
	body: string;
	img: string;
	extraStyles: {
		backGround: string;
		buttonText: string;
		roundCorners: string;
		margins: string;
	};
}

const {
	img,
	title,
	body,
	extraStyles: { backGround, buttonText, roundCorners, margins },
} = Astro.props;
---

<div
	class={`${backGround} px-7 py-10 ${roundCorners} ${margins} mx-4 xl:mx-0 h-[400px] w-[230px] text-[#ffffff]`}
>
	<img src={img} alt={`${img}`} class="mb-6" />
	<h1 class="mb-4">
		{title}
	</h1>
	<p class="mb-6 xl:mb-16">{body}</p>
	<button
		class={`${buttonText} bg-white rounded-full py-2 px-4 hover:bg-transparent hover:text-white hover:border-2`}
		>Learn More</button
	>
</div>
