---
export interface Props {
	title: string;
	body: string;
	img: string;
	extraStyles: {
		backGround: string;
		buttonText: string;
		roundCorners: string;
		margins: string;
	};
}

const {
	img,
	title,
	body,
	extraStyles: { backGround, buttonText, roundCorners, margins },
} = Astro.props;
---

<div
	class={`${backGround} px-7 py-10 ${roundCorners} ${margins} mx-4 w-[230px] text-[#ffffff]`}
>
	<img src={img} alt={`${img}`} />
	<h1 class="font-bold mb-6">{title}</h1>
	<p class="text-[12px] font-normal mb-6">{body}</p>
	<button class={`${buttonText} bg-white rounded-full py-2 px-4`}
		>Learn More</button
	>
</div>
