---
interface Props {
  overviewLink: string;
  structureLink: string;
  surfaceLink: string;
  outlineBoolOverview: boolean;
  outlineBoolStructure: boolean;
  outlineBoolSurface: boolean;
  outlineColor: string;
}
const {
  overviewLink,
  structureLink,
  surfaceLink,
  outlineBoolOverview,
  outlineBoolStructure,
  outlineBoolSurface,
  outlineColor,
} = Astro.props;
---

<div
  class="text-[#FFFFFF] text-[9px] font-bold border-b-[1px] md:hidden lg:hidden border-b-[#979797] flex justify-around h-[68px] md:h-[85px] items-center"
>
  <a
    href={overviewLink}
    class={`${
      outlineBoolOverview
        ? `underline decoration-4 ${outlineColor} underline-offset-[27px]`
        : ""
    }`}>OVERVIEW</a
  >
  <a
    href={structureLink}
    class={`${
      outlineBoolStructure
        ? `underline decoration-4 ${outlineColor} underline-offset-[27px]`
        : ""
    }`}>STRUCTURE</a
  >
  <a
    href={surfaceLink}
    class={`${
      outlineBoolSurface
        ? `underline decoration-4 ${outlineColor} underline-offset-[27px]`
        : ""
    }`}>SURFACE</a
  >
</div>
