---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import Pagination from "../../components/Pagination.astro";
import ButtonGroup from "../../components/ButtonGroup.astro";
import data from "../../utils/data.json";
---

<Layout title="Planets fact site">
  <Pagination
    outlineBoolOverview={false}
    outlineBoolStructure={true}
    outlineBoolSurface={false}
    outlineColor="decoration-[#EDA249]"
    overviewLink="/venus/overview"
    structureLink="/venus/structure"
    surfaceLink="/venus/surface"
  />
  <section>
    <div
      class="flex flex-col justify-center items-center lg:flex-row lg:justify-center lg:items-center"
    >
      <img
        src={data[1].images.internal}
        alt="mercury"
        width="111px"
        height="111px"
        class="my-[95px] md:my-[135px] md:h-[184px] md:w-[184px] lg:my-0 lg:w-[290px] lg:h-[290px] lg:mr-[250px]"
      />
      <div
        class="md:flex justify-around items-center md:w-full lg:flex-col lg:justify-center lg:items-start lg:w-[350px] lg:h-[541px]"
      >
        <div>
          <h2 class="text-center md:text-left md:text-[48px]">
            {data[1].name.toUpperCase()}
          </h2>
          <p
            class="text-center md:text-left mt-[16px] text-[11px] w-[327px] leading-[22px] lg:text-[14px]"
          >
            {data[1].structure.content}
          </p>
          <p
            class="mt-[32px] lg:mt-[16px] lg:mb-[20px] text-[#838391] font-thin flex flex-row justify-center md:justify-start items-center"
          >
            Source: <a
              href={data[1].structure.source}
              target="_blank"
              class="underline font-bold"
              >Wikipedia
            </a>
            <img
              src="/assets/icon-source.svg"
              alt="source icon"
              height="12px"
              width="12px"
              class="ml-[4px]"
            />
          </p>
        </div>
        <ButtonGroup
          outlineBoolOverview={false}
          outlineBoolStructure={true}
          outlineBoolSurface={false}
          outlineColor="bg-[#EDA249]"
          overviewLink="/venus/overview"
          structureLink="/venus/structure"
          surfaceLink="/venus/surface"
        />
      </div>
    </div>
    <div
      class="mt-[28px] ml-[32px] md:mt-0 md:ml-0 md:flex md:w-full md:justify-center lg:justify-center lg:mt-0"
    >
      <Card title="rotation time" data={data[1].rotation} />
      <Card title="revolution time" data={data[1].revolution} />
      <Card title="radius" data={data[1].radius} />
      <Card title="average temp." data={data[1].temperature} />
    </div>
  </section>
</Layout>
